.mat-expansion-panel-header {
  background-color: #e3f2fd; /* Warna biru muda */
  color: #0d47a1; /* Warna teks biru tua */
  font-weight: bold;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: #bbdefb; /* Warna lebih gelap ketika dibuka */
}

.mat-list-item a {
  color: #0d47a1;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.mat-list-item a:hover {
  color: #1976d2; /* Ubah warna ketika di-hover */
  transition: color 0.3s ease-in-out;
}

.mat-icon {
  margin-right: 8px;
}

.mat-list-item {
  padding: 10px 0;
}

.mat-divider {
  margin: 10px 0;
}
